@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon);
@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans);

.bottom-section,
.links,
.middle-section,
.top-section,
body {
    display: block;
}
.links,
.logo {
    position: absolute;
}
.middle-section,
.section,
.section-title,
.top-section {
    text-align: center;
}

@keyframes beat {
    0%,
    100%
    {
        transform: scale(1,1);
    }50%
    {
        transform: scale(1.075,1.075);
    }
}
@keyframes wiggle {
    0%,
    100%
    {
        letter-spacing: 0;
    }50%
    {
        letter-spacing: 3px;
    }
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;

    overflow-x: hidden;
    overflow-y: auto;

    height: 100vh;

    color: #1d2023;
    background: #ebebeb;
}
.links {
    z-index: 5;
    bottom: 20px;
    left: calc(50% - 250px);

    width: 500px;

    mix-blend-mode: screen;
}
.links li {
    display: inline-block;

    min-width: 50px;
    height: 40px;
    margin: 5px;
    padding: 0;
}
.links li a {
    font-size: 12px;
    line-height: 40px;

    display: block;

    width: 60px;
    height: 50px;
    padding-left: 10px;

    transition: all .15s;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}
.links li a:hover {
    background-size: 38px auto;
}
.logo {
    z-index: 20;
    top: 20px;
    left: calc(50vw - 35px);

    display: block;

    width: 70px;
    height: 40px;

    background: url(../Logo/logo3.svg) no-repeat;
    background-size: 100% 100%;
}
.cover,
.section-1 {
    background-image: url(../Photo/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section {
    position: relative;

    display: table;

    height: 100vh!important;
    margin: 0 auto;
}
.cover,
.section-title {
    position: absolute;

    display: block;
}
.section-1 {
    width: 100vw;
    padding-top: 20px;

    box-shadow: -5px 5px 10px -5px #333;
}
.cover {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    filter: blur(5px);
}
.section-title {
    top: 20px;
    left: calc(50% - 50px);

    width: 100px;
    margin: 0 auto 20px;
    padding: 10px;

    border-bottom: 2px solid #03a9f4;
}
.intro,
.mugshot {
    display: inline-block;
}
.intro {
    position: relative;

    min-width: 80vw;
    min-height: 80vh;
    margin: 0 auto;

    text-align: left;
}
.mugshot {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: calc(50% - 125px);

    width: 250px;
    height: 294px;

    background: url(../Photo/pic.svg) center no-repeat;
    background-color: rgba(0,0,0,0);
    background-size: contain;

    mix-blend-mode: darken;
}
.intro-p-box {
    font-size: 20px;
    font-weight: 300;

    position: absolute;
    z-index: 0;
    top: calc(50% - 15vw);
    left: 50vw;

    display: block;

    width: 30vw;
    height: 30vw;

    text-align: justify;
    word-spacing: 3px;

    align-self: flex-end;
    mix-blend-mode: difference;
}
.intro p {
    font-family: 'Titillium Web',mono;
    font-size: 35px;
    font-weight: 700;

    display: table-cell;

    padding: 20px;

    text-align: right;
    vertical-align: middle;
    word-spacing: 3px;

    color: #ebebeb;
}
.intro p span {
    font-family: 'Do Hyeon',mono;
    font-size: 1.5em;
    font-style: italic;

    color: #a34f37;
}
.intro p span:hover {
    animation: wiggle 1s;
    animation-iteration-count: infinite;
}
.section .article {
    font-family: sans-serif;

    display: inline-table;

    max-width: 500px;
    height: 250px;
    margin: 10px;
    padding: 10px;

    word-spacing: 5px;

    background: #eeeeec;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,.3);
}
.section-2 .article-1,
.section-2 .article-2 {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 250px;
}
.article header {
    font-size: 22px;
    font-weight: 300;

    display: inline-grid;

    margin: 0 auto;
    padding: 10px;

    text-align: center;

    color: #03a9f4;
    border-bottom: 1px solid #03a9f4;

    align-self: flex-end;
}
.article p {
    display: block;

    padding: 20px;

    text-align: justify;
    text-indent: 20px;
}
.section-2,
.section-3 {
    display: inline-flex;
    text-align: center;
}
.section-2 {
    align-items: center;
}
.section-2 .article-1 {
    background-image: url(../Vector/Others/des.svg);
}
.section-2 .article-2 {
    background-image: url(../Vector/Others/dev.svg);
}
.section-2 .article {
    position: relative;

    width: calc(50% - 150px);
    height: 350px;
    margin: 0 auto;
    padding-top: 150px;
}
.section-2 .article-1:before,
.section-2 .article-2:after,
.section-3 .article-1:after,
.section-3 .article-1:before {
    position: absolute;
    z-index: -1;
    top: 80%;
    bottom: 15px;
    left: 10px;

    width: 50%;
    max-width: 300px;

    content: '';
    transform: rotate(-3deg);

    background: #777;
    box-shadow: 0 20px 15px #777;
}.section-2 .article:after {
    right: 10px;
    left: auto;

    transform: rotate(3deg);
}
.section-3 {
    width: 80%;
    align-items: center;
}
.section-3 .article {
    position: relative;
    display: inline-block;
}
.section-3 .article-1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 20px 20px;
}
.section-3 span {
    position: absolute;
    top: 20px;
    right: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;

    transform: rotateZ(2deg);

    border-radius: 50%;
    background: radial-gradient(#fff ,#7d5a3e 20%);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.section-3 .article-2 {
    min-width: 500px;
    min-height: 500px;
    margin-bottom: 50px;
    padding: 0;

    background: unset;
    box-shadow: unset;
}
.section-3 header {
    margin-top: -20px;
    margin-bottom: 20px;
}
.article-3 dl {
    display: table;

    width: 500px;
    height: 500px;
}
.box {
    position: relative;

    display: inline-grid;

    width: calc((500px / 3) - 100px);
    height: calc((500px / 3) - 100px);
    margin: 40px 30px;
    padding: 0;
}
.section-3 .article-2 dd {
    font-size: 13px;
    font-weight: 400;

    position: absolute;
    z-index: 0;
    top: 10%;
    left: calc((500px / 3) - 80px);

    display: block;
    overflow-x: hidden;
    overflow-y: hidden;

    width: 0;
    max-width: 150px;
    height: 0;
    padding: 0;

    transition: opacity .2s;
    text-align: left;

    opacity: 0;
    color: #f1dfd6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #b65230;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,.5);
}
.section-3 .article-2 dt {
    font-family: Open serif;
    font-size: 13px;
    font-weight: bolder;
    line-height: 100px;

    position: absolute;
    z-index: 1;

    display: table-cell;

    width: calc((500px / 3) - 90px);
    height: calc((500px / 3) - 68px);

    vertical-align: middle;

    color: #c64b51;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    box-shadow: -2px 4px 5px -1px rgba(0,0,0,.3);
}
.about p,
.foot p {
    line-height: 50px;
}
.about p span,
.bottom-section .article-1 p span,
.loc .desc {
    color: #03a9f4;
}
.section-3 .article-2 dt[class=html] {
    background-image: url(../Vector/Lang/html.svg);
}
.section-3 .article-2 dt[class=css] {
    background-image: url(../Vector/Lang/css.svg);
}
.section-3 .article-2 dt[class=js] {
    background-image: url(../Vector/Lang/javascript.svg);
}
.section-3 .article-2 dt[class=jq] {
    background-image: url(../Vector/Lang/jquery.svg);
}
.section-3 .article-2 dt[class=ajax] {
    background-image: url(../Vector/Lang/ajax.svg);
}
.section-3 .article-2 dt[class=json] {
    background-image: url(../Vector/Lang/json.svg);
}
.section-3 .article-2 dt[class=xml] {
    background-image: url(../Vector/Lang/xml.svg);
}
.section-3 .article-2 dt[class=php] {
    background-image: url(../Vector/Lang/php.svg);
}
.section-3 .article-2 dt[class=mysql] {
    background-image: url(../Vector/Lang/mysql.svg);
}
.thought {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: calc((500px / 3) - 86px);

    display: block;

    width: 0;
    height: 0;

    transition: opacity .2s;
    transform: rotateZ(45deg);

    opacity: 0;
    background-color: #b65230;
    box-shadow: -3px 0 10px -1px #000;
}
.general-about,
.section-4,
.section-5 {
    position: relative;

    text-align: center;
}
.box:hover .thought {
    z-index: 1;

    width: 20px;
    height: 20px;

    opacity: 1;
}
.box:hover dd {
    z-index: 2;

    width: 200px;
    height: auto;
    padding: 10px;

    opacity: 1;
}
.section-4,
.section-5 {
    min-width: 80%;
    max-width: 80%;
}

.general-about {
    display: inline-flex;

    width: 100%;
    height: 500px;
    margin: 30px auto;
    padding: 0;

    align-items: center;
}
.about,
.location,
.location:after,
.map-overlay {
    position: absolute;
}
.about {
    z-index: 1;

    display: inline-flex;

    width: 80%;
    min-width: 600px;
    min-height: 500px;

    text-shadow: -4px 1px 3px rgba(0,0,0,.3);

    align-items: center;
}
.location {
    z-index: 0;
    left: 60%;

    display: block;

    min-width: 40%;
    height: 400px;

    background: linear-gradient(to right,#ebebeb 0,rgba(0,0,0,0));
}
.location:after {
    z-index: -1;
    top: 18%;
    right: 20px;
    bottom: 15px;
    left: auto;

    width: 50%;
    max-width: 300px;
    height: 80%;

    content: '';

    background: #777;
    box-shadow: 20px 20px 15px #777;
}
.map-overlay {
    width: 100%;
    height: 100%;

    background: url(../Photo/map.png) -50px no-repeat;
    background-size: cover;

    mix-blend-mode: lighten;
}
.loc {
    z-index: 3;

    display: inline-block;

    width: 20px;
    height: 40px;

    background: url(../Vector/Others/location.svg);
    background-size: 100% 100%;
}
.location-1 {
    position: relative;
    top: 52%;
    left: 62%;

    display: block;
}
.location-2 {
    position: absolute;
    top: 41%;
    left: 35%;

    display: block;

    transition: width .2s,height .2s;
}
.loc .desc {
    font-family: Sans;
    font-size: 12px;

    position: relative;
    top: -55px;

    display: block;

    width: 80px;
    padding: 10px;

    transition: width .2s;

    border-radius: 50px;
    background: #fff;
    box-shadow: -3px 3px 20px -3px #000;
}
.loc .desc:after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';

    background-color: #fff;
}
.loc:hover {
    width: 25px;
    height: 45px;

    cursor: pointer;
}
.loc:hover .desc {
    width: 85px;
}
.about p {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;

    display: block;

    margin: 3% 15% 3% 2%;
    padding: 20px;

    text-align: justify;
}
.about p span {
    font-family: Sans;
    font-weight: 700;

    text-transform: capitalize;
}
.links {
    transition: all .5s;
}
.bottom-section {
    position: relative;

    min-height: 85vh;
    margin: 0;
    padding-top: 15vh;

    text-align: center;

    background: linear-gradient(to left,#b6664b 1%,#b65230), #b65230;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
}
.bottom-section .section-5 {
    display: table;

    min-width: 80%;
    margin: 0 auto;
}
.bottom-section .article {
    display: block;
    float: left;

    min-width: 30%;
    height: unset;

    background: unset;
    box-shadow: unset;
}
.bottom-section .article-1 {
    position: relative;

    max-width: 500px;
    margin: 0 30px 0 0;
}
.bottom-section .article-1 p {
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: 300;
    line-height: 50px;

    display: block;

    padding: 20px;

    text-align: center;
    word-wrap: normal;
}
.bottom-section .article-1 p span,
.contact-field legend {
    font-family: Sans;;
    font-weight: 700;

    text-transform: capitalize;
}
.bottom-section .article-1 .idea-icon {
    display: block;

    width: 250px;
    height: 250px;
    margin: 20px auto;

    background: url(../Vector/Others/idea_light.svg) no-repeat;
    background-size: contain;

    mix-blend-mode: luminosity;
}
.contact-field {
    display: block;

    padding: 10px 20px;

    border: unset;
}
.contact-field legend {
    padding: 0 20px;
}
input::placeholder,
textarea::placeholder {
    color: #333;
}
fieldset {
    border-width: 0px;
}
#email,
#message,
#name,
.name-field {
    font-family: Sans;

    display: block;

    width: 350px;
    margin: 20px auto;
    padding: 10px;

    transition: box-shadow .2s;

    color: #333;
    border: unset;
    background: #ead1c8;
}
#submit {
    font-size: 14px;
    font-weight: 500;

    width: 100px;
    height: 40px;
    padding: 5px;

    cursor: pointer;

    color: #1d2023;
    border: 0;
    background: rgba(191,191,191,.2);
}
#social-icons p,
#social-icons p span,
.phoneNum p span {
    font-family: Sans;
    font-weight: 700;
}
#submit:focus,
#submit:hover {
    color: #fff;
    background: #3885f9;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.5);
}
#message {
    height: 150px;

    resize: none;
}
.social_link,
.social_link div {
    display: inline-block;

    height: 50px;

    border-radius: 50%;
}
#email:focus,
#message:focus,
.name-field:focus {
    border-bottom: 2px solid #03a9f4!important;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
}
.phoneNum p {
    color: #fea080;
}
.social_link {
    width: 50px;
    margin: 5px;
    padding: 0;

    background: rgba(0,0,0,.5);
}
#social-icons p {
    width: 100%;
    padding: 10px 20px;

    color: bisque;
}
#social-icons p span {
    font-size: 28px;

    color: #c64b51;
}
.social_link div {
    width: 50px;
}
.fb_icon {
    background: url(../Vector/Social/fb_icon.svg) center no-repeat;
    background-size: 100%;
}
.li_icon {
    background: url(../Vector/Social/li_icon.svg) center no-repeat;
    background-size: 100%;
}
.social_link:hover {
    background: #0095e5;
}
.circle,
.links-2 li a {
    background-repeat: no-repeat;
    background-position: center;
}
.foot {
    position: absolute;
    bottom: 20px;

    width: 100%;
}
.pause,
.play {
    bottom: 0;

    display: block;;

    cursor: pointer;
}
.foot p {
    font-size: 16px;
    font-weight: 400;
}
.links-2 {
    position: fixed!important;
    top: calc(50% - 160px)!important;
    left: -10px!important;

    width: 80px!important;
    height: 320px!important;

    mix-blend-mode: multiply;
}.circle,
.circles,
.pause,
.play {
    position: absolute;
}
.links-2 li {
    display: block;

    min-width: 50px!important;
    height: 40px!important;
    margin: 10px 0!important;
    padding: 0!important;
}
.links-2 li a {
    font-size: 12px;
    line-height: 40px!important;

    height: 40px!important;
    padding-left: 10px!important;

    background-size: 35px;
}
.links-2 li a:hover {
    background-size: 38px auto;
}
.links-2 .logo-link {
    top: 0;
    left: 0;

    max-width: 120px;
    margin: 0!important;

    background-color: unset;
}
.pause {
    left: 0;

    width: 10px;
    height: 20px;

    border-right: 5px solid #03a9f4;
    border-left: 5px solid #03a9f4;
}
.play {
    left: 0;

    width: 0;
    height: 0;

    transform: rotate(-45deg);

    border-width: 10px;
    border-style: solid;
    border-color: transparent #03a9f4 #03a9f4 transparent;
}
.circles {
    top: calc(50% - 15vw);
    left: 0;

    width: 40vw;
    height: calc(100vh / 1.618);
}
.circle {
    display: block;

    width: 100px;
    height: 100px;

    transition: left 3s,bottom,3s;

    border: 2px solid #03a9f4;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
    background-size: contain;
}
.circle:hover {
    animation: beat .75s;
    animation-iteration-count: infinite;
}
.circle:first-child {
    bottom: 50vh;
    left: 25vw;

    background-image: url(../Vector/Others/coffee.svg);
}
.circle:nth-child(2) {
    bottom: 22vh;
    left: 17vw;

    background-color: rgba(0,0,0,.6);
    background-image: url(../Photo/pic.jpg);
    background-size: cover;

    background-blend-mode: hard-light;
}
.circle:nth-child(3) {
    bottom: 0;
    left: 0;

    background-image: url(../Vector/Others/design.svg);
}
.circle:nth-child(4) {
    bottom: 0;
    left: 30vw;

    background-image: url(../Vector/Others/code.svg);
}
.circle:first-child::after,
.circle:nth-child(2)::after,
.circle:nth-child(3)::after,
.circle:nth-child(4)::after {
    font-family: 'Do Hyeon',mono;
    font-weight: 700;

    position: absolute;
    bottom: -30px;
    left: calc(50% - 50px);

    width: 100px;

    content: 'COFFEE';
    text-align: center;

    color: snow;
}
.circle:nth-child(2)::after {
    content: 'ME';
}
.circle:nth-child(3)::after {
    content: 'DESIGN';
}
.circle:nth-child(4)::after {
    content: 'CODE';
}
.jtk-drag-select {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}
.bottom-section:not(input),
.bottom-section:not(textarea) {
    color: #f1dfd6!important;
}

.sec {
    position: relative;
    display: table;
    margin: 0 auto;
}

@media screen and (max-width:1024px) {

    * {
        width: auto !important;
        height: auto !important;
        max-width: auto !important;
        max-height: auto !important;
        min-width: auto !important;
        min-height: auto !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
    }
    .top-section {
        width: 85% !important;
    }
    .logo {
        display: inline-block !important;
        margin: 15px auto;
        width: 70px !important;
        height: 40px !important;
        left: 0px !important;
        right: 0px !important;
    }
    .cover {
        width: 100% !important;
        height: 100% !important;
    }
    .wrapper {
        display: block;
    }
    .links {
        display: none !important;
    }
    .section {
        display: inline-block !important;
        height: unset!important;
        margin-bottom: 20px;
        text-align: center!important;
    }
    .section .article {
        display: inline-block;
        min-width: 90% !important;
        height: unset;
        margin: 20px auto;
    }
    .article header {
        border: 0px;
    }
    .section-title {
        position: relative!important;
        margin-bottom: 20px;
        border: 0px;
    }

    /*SECTION 1*/
    .section-1 {
        padding: unset;
        background-position: right;
        min-height: 550px !important;
    }
    .intro {
        display: block;
        height: unset;
        margin-top: 100px;
        text-align: center;
        padding: 30px 0px 30px 0px !important;
        height: 100% !important;
    }
    .intro p {
        font-size: 1.3em;
        background-color: rgba(0,0,0,.25);
        text-align: justify;
    }
    .intro p span:hover {
        animation: unset;
    }
    .intro-p-box {
        position: relative !important;
        text-align: center;
        mix-blend-mode: normal;
        display: inline-block !important;
    }
    .circles {
        position: relative;
        display: inline-block !important;
    }
    .circle {
        display: none;
        transition: unset !important;
    }
    .circle:nth-child(2) {
        position: relative !important;
        display: inline-block !important;
        width: 120px !important;
        height: 120px !important;
        border-width: 0px !important;
        border-radius: 50%;
        box-shadow: 0 0 10px -5px #000;
    }


    /*SECTION 3*/
    .section-3 {
        width: 100% !important;
        display: inline-block !important;
    }
    .section-3 .article-1,
    .section-3 .article-2 {
        display: block !important;
        height: auto !important;
        padding: 0px;
    }
    .box {
        position: relative;
        display: inline-block !important;
        width: 80px !important;
        height: 120px !important;
        margin: 10px;
        padding: 0;
    }
    .section-3 .article-2 {
        margin-top: 50px;
    }
    .section-3 .article-2 dt {
        width: 80px !important;
        height: 120px !important;
        position: relative !important;
        display: inline-block !important;
    }
    .thought {
        display: none !important;
    }


    /*SECTION 4*/
    .section-4 {
        display: inline-block !important;

        display: none !important;
    }
    .section-4  * {
        position: relative !important;
        padding: unset !important;
        margin: unset !important;
        min-width: unset !important;
        width: unset !important;
    }
    .about,
    .general-about {
        display: block !important;
    }
    .about p {
        display: block !important;
    }
    .location {
        display: none;
    }



    /*BOTTOM SECTION*/
    .bottom-section {
        padding: unset;
    }
    .bottom-section .section-5 {
        display: block;

        min-width: 100%;
        margin: 0 auto;
    }
    .bottom-section .article {
        float: none;
    }
    .bottom-section .article-1 .idea-icon {
        width: 250px !important;
        height: 250px !important;
    }
    .bottom-section .article-1 {
        max-width: unset;
        margin: unset;
    }#email,
    #message,
    #name,
    .name-field {
        width: 90% !important;
        max-width: 400px !important;
        height: initial !important;
        min-height: initial !important;
        max-height: initial !important;
        padding: 10px !important;
        margin: 20px auto !important;
        border: 0px;
    }
    #submit {
        width: 100px!important;
        height: 40px!important;
        padding: 5px!important;
    }
    #message {
        height: 150px !important;
        resize: none;
    }
    .foot {
        position: unset;

        margin-top: 30px;
    }
    .circle:nth-child(2)::after,
    .jtk-connector,
    .jtk-endpoint,
    .pause,
    .section-2 .article-1::before,
    .section-2 .article-2::after,
    .section-3 .article-1::after,
    .section-3 .article-1::before {
        display: none;
    }
    .box:hover .thought,
    .box:hover dd {
        opacity: 0;
    }
    .mesg {
        display: none!important;
    }



    @media screen and (min-width:480px) {
    /*480 - 768*/

        


        @media screen and (min-width:768px) {
        /*768 - 1024*/


        }
    }
}

